.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(auto, 880px) 1fr;
  margin-top: 240px;
  column-gap: 16px;
  row-gap: 96px;
}

.about_section {
  grid-column-start: 2;
  grid-column-end: 3;
}
