.wrapper {
  grid-template-columns: 1fr minmax(auto, 880px) 1fr;
  column-gap: 16px;
  display: grid;
  height: inherit;
}

.footer_main {
  grid-column-start: 2;
  grid-column-end: 3;
  padding: 24px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  gap: 32px;
}

.footer_links {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
}
